body {
    overflow-x: hidden !important;
    font-family: 'Nunito Sans', sans-serif !important;
}

header {
    width: 100%;
    background-size: cover;
}


.logo img 
{
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 8px 8px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    max-width: 100%;
    height: 55px;
}

.t-nav {
    z-index: 1;
}
nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    border: 1px solid white;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(148, 18, 18, 0);
    overflow: hidden;
    color: rgb(156, 50, 50);
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background:  #EFFCF8;
}

nav ul li {
    display: inline-block;
    padding: 8px 8px;
    
}

nav ul li a {
    text-decoration: none !important;
    color:black !important;
    /* font-weight: 900 !important; */
    
 } 

 .menu-icon {
    line-height: 60px;
    /* width: 100%; */
    background: transparent;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: rgb(248, 246, 246);
    display: none;
} 



.t-number-1
{
    background-color: #E2F5F4;
    padding-top: 90px;
}
.img-1 img
{
     width: 100%;
    height: 420px;
    padding-right: 15px;
    /* padding-left: 50px; */
     
}

.introducing-Tnumber  {padding: 0 30px}
.introduce-1  h4
{
  padding: 30px;
  font-family: Nunito, sans-serif;
  font-size:23px;
  font-weight: 700;
  line-height: 10px;
}
.introduce-1  p
{
  padding-left: 35px;
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
ul{
    list-style: none;
}
.fw-900 {
    font-weight: 900;
}
ul li{
    
    margin-top: 15px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #555;
    vertical-align: left;
   
}
ul li  
{
    padding-right: 55px;
    vertical-align: baseline;
}

.btn
{
    background-color:#1DC4BB;
    
    color: white;
    letter-spacing:1.5;
    font-weight:500;
    font-size: 16px;
    width: max-content;
}  
.btn:hover
{
    box-shadow: rgb(82 104 219 / 57%) 0px 9px 20px -5px
}
.t-number-2
{
    background-color: white;
    padding-top: 100px;
}

.introduce-2  h4
{
  
  padding-right: 90px;
  padding-bottom: 30px;
  /* padding-right: 150px; */
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-2  p
{
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
.people-card
{
    padding: 20px;
}
.card
{
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%)
}
.introduce-2  span
{
    font-family: Muli, sans-serif;
    font-size: 13px;
     /* font-weight: bolder; */
}
.img-2 img
{
     max-width: 100%;
    height: 400px;
    padding-left: 50px;
     
}


.introduce-2  h4
{
  padding-left: 15px;
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-2  p
{
  padding-left: 15px;
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
.introduce-2  span
{
    padding-left: 15px;
    font-family: Muli, sans-serif;
    font-size: 13px;
     font-weight: bolder;
}

.t-number-3
{
    background-color: #E2F5F4;
    padding-top:50px;
} 
.introduce-3 h4
{
    padding: 30px 0 15px 36px;
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-3  p
{
  padding-left: 35px;
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
.img-4 img
{
    max-width: 100%;
    height: 400px;
    padding-right: 15px;
    padding-left: 100px;
}
.t-number-4
{
    background-color: white;
    padding-top:50px;
} 
/* .introduce-4 
{
    margin 
} */
.introduce-4 h4
{
  padding: 10px 0;
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-4  p
{
    padding: 5px 0;
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
.calling-items 
{
    font-size:16px;
    color:#3be6dd;
    font-weight: bold;
} 
.calling-btn
{
    font-weight: 700
}
.t-number-5
{
    background-color: #E2F5F4;
    padding-top:50px;
} 
.introduce-5 h4
{
    padding: 35px;
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-5  p
{
  padding-left: 35px;
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
.dating-application
{
    padding: 20px 30px;
}
.dating-btn
{
    font-weight: 700;
}
.t-number-6
{
    background-color: white ;
    padding-top:50px;
} 
.introduce-6 h4
{
    padding: 10px 0;
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-6  p
{
    padding: 10px 0;
  font-family: Muli, sans-serif;
  font-size: 13px;
  padding-right: 50px;
    
}
.buy-btn
{
    font-weight: 700;
}
.img-6 img
{
    max-width: 100%;
    height: 400px;
    
    padding-left: 20px;
}
.t-number-7
{
    background-color: #E2F5F4;
    padding: 30px 0;
} 
.introduce-7 h4
{
    padding: 28px;
  font-family: Nunito, sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 10px;
}
.introduce-7  p
{
  padding-left: 28px;
  font-family: Muli, sans-serif;
  font-size: 13px;
    
}
.share-tnumber-btn
{
  font-weight: 700;
}
.img-7 img
{
    height: auto;
    width: 390px
    
}
.sec-easy-number {
    margin: 0 auto;
    padding: 10px 25px;
}
.t-number-8
{
    background-color: #FFFFFF;
    padding-top:50px;
    padding-bottom:50px;
} 
.t-number-8 h2
{
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 800;
    font: bold;
     
}
.introduce-8 h4
{
  padding:10px;
  text-align: center;
   
  font-size:16px;
  font-weight: 900;
  font: bolder;
  line-height: 10px;
}
.introduce-8  p
{
  
  font-family: Muli, sans-serif;
  font-size: 12px;
  text-align: center;
}
.t-number-9
{
    background-color: #1DC4BB;
    padding-top:50px;
    padding-bottom:25px;
    color: white;
} 
.t-number-9 h2
{
    text-align: center;
    padding: 30px;
    font-size: 22px;
    font-weight: 900;
}
.t-number-9 h3
{
    font-size: 22px;
    padding-bottom: 50px;
    text-align: center;
}
 
.t-number-9 .card-body 
{
    background-color: #1DC4BB;
    box-shadow: whitesmoke;
    color: white;
}
.introduce-9 h4
{
   text-align: center;
   font-size: 30px;
}
.introduce-9  p
{
    text-align: center;
    font-size: 15px;
}
.t-number-10 
{
    text-align: center;
}
.introduce-10 {
    background-color: #eaeced ;

}
.business > button {
    margin-top: 10px;
}
.introduce-10 h2
{
    font-weight:700;
    font-size: 20px;
    padding-top: 50px;
}
.introduce-10 btn
{
    background-color:#1DC4BB;
    color: white;
    letter-spacing:1.5;
    font-weight:500;
    font-size: 16px;
    width: max-content;
}
.introduce-10 p
{
    padding: 20px;
}
.introduce-10 h3
{
    font-size: 20px;
    padding: 8px;
    font-weight:700;
}
.introduce-10 h4
{
    font-size: 17px;
    padding: 8px;
    font: lighter;
   
}

.join-t-img {
    width: -webkit-fill-available;
}
.t-number-price-card {
    border: none;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
}
.t-number-price-card p{
    font-size: 15px;
    font-weight: 600;
}
.t-number-price-card-title {
    font-size: 35px;
    font-weight: 900;
}

.t-number-0 {
    background-color: #eaeced ;
    margin-bottom: 0;
}
.introduce-btn .btn
{
    font-weight: 700;
}
.introduce-btn{
    padding: 30px;
}
.t-number-0 h2{
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font: bolder;
    padding-top:90px;
    padding-bottom: 90px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 35px;
    /* margin-left: 120px;
    margin-right: 120px; */
}

.t-number-11 
{
    background-color: #EFFCF8;
    padding-top: 50px;
}
.introduce-11 h4{
   padding: 35px 20px 30px 30px;
  font-family: Nunito, sans-serif;
  font-size:28px;
  font-weight: 400;
  font: lighter;
  line-height: 10px;
    
}
.introduce-11 p
{
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: Nunito, sans-serif;
    font-size:15px;
    line-height: 18px;
}
div .introduce-11
{
    background-image: url("https://avengersbucketimg.s3.ap-south-1.amazonaws.com/t-number/waves.png") ;
    background-repeat: repeat;
    background-attachment: fixed;
}
.bussiness-btn
{
    font-weight: 700;
}
.introduce-11 .btn
{
     margin-bottom:25px;
     width: 175px;
     height: 42px;
      
}
.space-1
{
   padding: 2px 0 0 30px;
}
.space-1 h1 
{
    font-size: 15px;
   font-weight: bolder !important;
    margin-right:235px;
    padding: 10px;
}
.introduce-11 .btn span
{
    font-size: 14px;
    font-weight: bold;
    
}

.footer-middle {
      padding: 42px !important;
  }

  .footer-heading {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .black {
      color:black;
  }
  .list-unstyled > li > a {
      color: black;
  }

  .footer-copyright {
      background-color: #f7fbfa;
      color: grey;
  }
  .footer-content {
      font-size: 8px;
      color: grey;
      margin: 12px 0;
      letter-spacing: 0.7em;
  }

  .social-media-icons {
      padding: 10px 12px;
      border: 1px solid #ccc;
      border-radius: 25px;
      color: black;
  }
  
  .social-media-icons:hover {
      background-color: #1dabf2;
      color: #fff;
  }
  .social-network {
      display: inline-flex;
      padding-left: 0;
      padding-right: 5px;  
  }

  .social-circle {
      padding-right: 10px;
  }

 

/* styles */
.mb-0 {
    margin-bottom: 0 !important;
}
.section-title {
    display: inline-flex;
    margin-bottom: 0;
}
.private-sec-items 
{
    margin-left: 3%;;
}
/* .section_title
{
    display: inline-flex;
    margin-bottom: 0;
} */

/* media queries */
@media(max-width: 500px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000000;
    }
    nav ul li a
    {
        text-decoration: none;
        
    }
    nav.black ul {
          background: #0e0e0e;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 10px;
          text-align: center;
    }

    .menu-icon {
          display: block;
          width: 100%;
    }
    .fa-bars
{
    background-color:rgb(12, 12, 12);
}
    nav ul li a {
        text-decoration: none;
        color:rgb(250, 243, 243) !important;
        font-size: 12px;
    }

    .main-container {
        width: fit-content;
    }

    .t-number-11 {
        margin-top: 10px;
    }
    .privateSection {
        margin-top: 68px;
        text-align: center;
        padding-right: 25%;
        padding-left: 25%;
        line-height: normal !important;
        font-size: 34px;
        font-weight: 500;

    }

    .friendsSection {
        font-size: 23px;
        text-align: center;
        padding: 25px;
        line-height: normal !important;
    }
    .landing-btn {
        text-align: center !important;
    }

    .space-1, h1 {
        text-align: center !important;
        margin-right: 0 !important;
    }

    .section_title  {
       display: block !important;
       width: 100% !important;
       padding: 5%;
    }

    .t-number-0 h2 {

        text-align: center;
        font-size: 27px;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        font: bolder;
        padding-top:90px;
        padding-bottom: 90px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 35px;
        background-color: #fff;
        
    }


    .privacy {
        margin-top: 15%;
        margin-bottom: 12%;
        font-size: 25px;
        padding: 5% 4%;
    }
     

    .private-sec-items {
        margin-left: 5% !important;
    }
    .message-img {
        padding: 5%;
    }

    .introduce-4,.introduce-6 {
        padding: 5% 8% !important;
        margin: 15% 0%;
    }
    /* .introduce-6 
    {
        padding: 5% 8% !important;
        margin: 15% 0%;
    } */

    .introduce-7 h4 {
        line-height: normal !important;
    }
    .t-number-price-card {
        margin-bottom: 4% !important;
    }

    .t-number-9 h2 {
        padding: 10px;
        font-weight: bold;
        margin-bottom: 5%;
    }

    .business > h2 {
        padding: 50px 30px;
    }
    .social-network {
       
        position: relative;
        left: 25%;
        top: 34%;
    }

    .footer-heading {
        font-weight: 900 !important;
        font-size: 19px;
    }

    .footer-middle {
        padding: 21px !important;
    } 

    .card {
        margin-bottom: 5% !important;
    }

    .font-15 {
        font-size: 15px !important;
    }

     

}


